*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  background: #ff2f2f;
  color: black;
  min-height: 100vh;
  background-size: 200vw;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none; }

@font-face {
  font-family: 'Sukima';
  src: url("../fonts/Sukima_stencil_regular.otf") format("opentype");
  font-weight: normal; }

@font-face {
  font-family: 'Sukima';
  src: url("../fonts/Sukima_stencil_bold.otf") format("opentype");
  font-weight: bold; }

@font-face {
  font-family: 'Lettera';
  src: url("../fonts/Lettera-Regular.otf") format("opentype");
  font-weight: normal; }

body {
  font-family: freight-text-pro;
  font-size: 18px; }

a:link,
a:visited {
  color: black;
  text-decoration: underline; }

a:hover,
a:active {
  text-decoration: none; }

.truth a:link,
.truth a:visited {
  color: #ff2f2f; }

h3 {
  font-family: 'Lettera', Courier, monospace;
  font-weight: normal;
  font-size: 1rem; }

h1, h2 {
  font-family: 'Sukima'; }

h2 {
  font-size: 1.8em;
  line-height: 1.15; }

h4 {
  font-family: 'Sukima';
  font-size: 1.2em;
  line-height: 1.2; }

p {
  margin: 0.5em 0; }

.team_description {
  line-height: 1.4em; }

.team_description span {
  background: black;
  color: #ff2f2f; }

.caption {
  margin-top: -0.5em;
  font-size: 0.85em;
  font-family: Sukima;
  text-align: right;
  line-height: 1.2; }

.button-campaign {
  width: 10px;
  height: 10px;
  background: black;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s; }
  .button-campaign:hover {
    transform: scale(1.5); }
  .button-campaign.table-button {
    background: #ff2f2f;
    border: 2px solid black; }

button {
  border: 1px solid #000;
  padding: 0.5em 1em;
  background: #FFF;
  cursor: pointer;
  border-radius: 1.2em;
  position: relative;
  top: -4px;
  font-family: 'Sukima';
  font-weight: bold; }
  button:hover, button.active {
    color: #FFF;
    background: #000; }
  button.active:hover {
    background: #FFF;
    color: #000; }

.text-right {
  text-align: right; }

.campaign:not(.active) h2,
.campaign:not(.active) h3, .campaign:not(.active) p, .campaign:not(.active) img {
  cursor: pointer; }

#campaigns.active .campaign:not(.active) .bottom-zone {
  display: none; }

#campaigns.active .campaign:not(.active) .top-zone {
  transform: rotate(90deg) translatey(-0.9vw);
  transform-origin: 0 0;
  width: calc(100vh - 200px);
  height: 2vw;
  display: flex;
  position: relative;
  padding: 0;
  align-items: center; }
  #campaigns.active .campaign:not(.active) .top-zone h2, #campaigns.active .campaign:not(.active) .top-zone h3 {
    display: inline-block;
    margin-right: 1em; }

h3.callout {
  font-family: freight-text-pro;
  font-size: 27px; }

header {
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff2f2f;
  top: 0;
  border-bottom: 1px solid black; }
  header h1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    cursor: pointer; }
    header h1:hover {
      background: black;
      color: #ff2f2f; }
    header h1:first-child {
      border-right: 1px solid black; }
    header h1:last-child {
      justify-content: end; }

#action {
  height: calc(100vh - (50px * 2));
  width: 100vw;
  z-index: 2;
  background: #ff2f2f;
  position: fixed;
  top: 50px;
  left: -100vw;
  transition: left 0.4s ease-out;
  display: grid;
  grid-template-columns: 42vw 1fr; }
  #action.active {
    left: 0; }
  #action__sidebar {
    height: 100%;
    overflow-y: scroll;
    border-right: 2px solid black;
    padding: 1em; }

#campaigns {
  position: relative;
  top: 50px;
  width: 294vw;
  height: calc(100vh - (50px * 2));
  overflow-y: hidden; }
  #campaigns.active {
    width: 100vw; }
  #campaigns.active .campaign {
    width: 20px; }
    #campaigns.active .campaign .top-zone h3.hide-collapsed {
      display: none; }

.campaign {
  display: inline-block;
  width: 21vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid black;
  transition: width 0.4s ease-out;
  position: relative;
  padding: 1em;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  .campaign .hover-image {
    position: fixed;
    top: 20px;
    left: 20px;
    max-width: 80vw;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .campaign:hover .hover-image {
    opacity: 1; }
  .campaign.active:hover .hover-image {
    opacity: 0; }
  .campaign.truth {
    background: black;
    color: #ff2f2f; }
    .campaign.truth .close {
      color: #ff2f2f; }
      .campaign.truth .close:hover {
        color: #ff2f2f;
        opacity: 0.5; }
  .campaign .bottom-zone {
    opacity: 1;
    transition: opacity 0.4s ease-out; }
  .campaign:last-of-type {
    border-right: none; }
  .campaign::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none; }
  .campaign .top-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px; }
  .campaign .take-action-internal {
    font-family: 'Sukima';
    font-size: 21px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateY(-3px); }
  .campaign .close {
    color: black;
    background: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer; }
    .campaign .close:hover {
      color: black;
      opacity: 0.75; }
  .campaign img {
    width: 100%;
    margin: 0.5em 0; }
  .campaign.active {
    width: calc(100vw - 480px) !important; }
    .campaign.active#section-10.active {
      width: calc(100vw - 481px) !important; }
    .campaign.active .top-menu {
      display: flex;
      justify-content: center;
      align-items: center; }

.top-zone,
.bottom-zone {
  max-width: 1100px;
  margin: auto; }

.take-action-section {
  padding-bottom: 2em;
  margin-top: 2em;
  border-top: 1px solid black; }
  .take-action-section h2 {
    margin: 0.5em 0; }

.table-item:nth-child(odd) {
  float: left; }

.table-item:nth-child(even) {
  float: right; }

footer {
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff2f2f;
  bottom: 0;
  border-top: 1px solid black; }
  footer h1 {
    padding-right: 0.5em; }

.cover {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2f2f;
  display: none; }
  .cover,
  .cover img {
    cursor: pointer; }

#test-menu {
  position: fixed;
  z-index: 200;
  height: 100vh;
  transform: translateX(-95%);
  transition: all 0.1s; }
  #test-menu:hover {
    background: red;
    mix-blend-mode: luminosity;
    transform: translateX(0); }
  #test-menu button {
    margin: 1em; }

#big-title {
  font-size: 22vw;
  position: absolute;
  z-index: 100;
  font-family: 'Sukima';
  color: #FF3B1E;
  font-weight: bold;
  mix-blend-mode: luminosity;
  width: 230vw;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  pointer-events: none; }

#test-layers,
#test-statement,
#test-purchase {
  position: fixed;
  z-index: 100;
  mix-blend-mode: color-dodge;
  pointer-events: none;
  display: none; }

#test-statement {
  top: 30%;
  right: 0; }

#test-purchase {
  height: 80vh;
  bottom: 0;
  right: 50%; }

#test-layers.active,
#test-statement.active,
#test-purchase.active,
#big-title.active {
  display: block; }

#test-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 2500vh;
  height: 100vh;
  background: url("../img/grid.png");
  background-size: 100%;
  z-index: 100;
  opacity: 0.15;
  mix-blend-mode: luminosity;
  animation-name: moveBG;
  animation-duration: 290s;
  animation-iteration-count: infinite;
  pointer-events: none;
  display: none; }
  #test-grid.active {
    display: block; }

@keyframes moveBG {
  0% {
    left: 0; }
  100% {
    left: -2500vh; } }

@media (max-width: 1000px) {
  .cover {
    display: none; }
  #campaigns {
    width: 100vw;
    height: auto; }
    #campaigns.active .campaign {
      width: 100%; }
  .campaign:not(.active) br {
    display: none; }
  #campaigns.active .campaign:not(.active) .top-zone {
    transform: none; }
  .campaign {
    width: 100vw;
    min-height: 4.2em;
    overflow: hidden;
    border-top: 1px solid black;
    display: block; }
    .campaign .bottom-zone {
      display: none; }
    .campaign .top-menu {
      right: -30px; }
    .campaign.active {
      height: auto;
      width: 100vw !important; }
      .campaign.active .bottom-zone {
        display: block; }
  #action {
    grid-template-columns: 1fr; }
  header {
    display: block;
    z-index: 100;
    background: #ff2f2f; }
    header h1 {
      width: 100%; }
      header h1:first-child {
        border-right: none;
        justify-content: center; }
  #take-action,
  footer {
    display: none; } }
