*,
*:before,
*:after {
    box-sizing: border-box;
    margin:0;
    padding:0;

}

html, body {
    background: fixed url('../img/gradient.jpg');
    color: $white;
    min-height:100vh;
    background-size:200vw;
    ;
}