header {
    @include peripherals;
    top:0;
    border-bottom:1px solid $foreground;

    & h1 {
        
        width:50%;
        height:100%;
        display:flex;
        align-items: center;
        padding:0 0.5em;
        cursor:pointer;

        &:hover {
            background:$foreground;
            color:$background;
        }

        &:first-child {
            border-right:1px solid $foreground;
        }
        &:last-child {
            justify-content: end;
        }
    }
}


#action {
    height:calc(100vh - (#{$peripheral-height} * 2));
    width:100vw;
    z-index:2;
    background:$background;
    position:fixed;
    top:$peripheral-height;
    left:-100vw;
    transition:left $transition-time ease-out;
    display:grid;
    grid-template-columns: 42vw 1fr;

    &.active {
        left:0;
    }

    &__sidebar {
        height:100%;
        overflow-y:scroll;
        border-right:2px solid $foreground;
        padding:1em;
    }

    &__map {

    }
    

}

#campaigns {
    
    position:relative;
    top:$peripheral-height;
    width:294vw;
    height:calc(100vh - (#{$peripheral-height} * 2));
    overflow-y:hidden;
    
    &.active {
        width:100vw;
    }
    &.active .campaign{
        width:20px;
        
        
    }

}




  


.campaign {
    display:inline-block;
    width:21vw;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    border-right:1px solid $foreground;
    
    transition:width $transition-time ease-out;
    
    
    
    position:relative;
    padding:1em;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &.truth {
        background:$foreground;
        color:$background;
        
        & .close {
            color:$background;

            &:hover {
                color:$background;
                opacity:0.5;
            }
        }
    }

    & .bottom-zone {

        opacity:1;
        transition:opacity $transition-time ease-out;
    }

    &:last-of-type {
        border-right:none;
    }

    &::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
      }


      & .top-menu {
        display:none;
        position:absolute;
        top:0;
        right:0;
        font-size:50px;
      }



    & .take-action-internal {
        font-family: 'Sukima';
        font-size: 21px;
        line-height: 1.2;
        font-weight:bold;
        text-transform: uppercase;
        cursor:pointer;
        transform: translateY(-3px);
    }

    & .close {
        color:$foreground;
        background:transparent;
        border:none;
        font-size:50px;
        
        cursor:pointer;
 
        &:hover {
            color:$foreground;
            opacity:0.75; 
        }
    }


    & img {
        width:100%;
        margin:0.5em 0;
    }

    &.active {
        width:calc(100vw - 480px)!important;

        & .top-menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    
}
.top-zone,
.bottom-zone {
    max-width:1100px;
    margin:auto;
}


.take-action-section {
    padding-bottom:2em;
    margin-top:2em;
    border-top:1px solid $foreground;

    & h2 {
        margin:0.5em 0 ;
    }
}


.table-item:nth-child(odd) {
    transform:translateX(-5vw);
  }
  
  .table-item:nth-child(even) {
    transform:translateX(5vw);
  }

footer {
    @include peripherals;
    bottom:0;
    border-top:1px solid $foreground;

    & h1 {
        padding-right:0.5em;
    }
    
}



.cover {
    position:fixed;
    z-index:500;
    top:0; left:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:$background;

    display:none;
    
    &,
    & img {
        cursor:pointer;
    }
    
}