@font-face {
    font-family: 'Sukima';
    src: url('../fonts/Sukima_stencil_regular.otf') format('opentype');
    font-weight:normal;
}

@font-face {
    font-family: 'Sukima';
    src: url('../fonts/Sukima_stencil_bold.otf') format('opentype');
    font-weight:bold;
}


@font-face {
    font-family: 'Lettera';
    src: url('../fonts/Lettera-Regular.otf') format('opentype');
    font-weight:normal;
}






body {
    font-family:freight-text-pro;
    font-size:18px;
}

h3 {
    font-family:'Lettera', Courier, monospace;
    font-weight:normal;
    font-size:1rem;
}
h1, h2 {
    font-family: 'Sukima';
}

p {
    margin: 0.5em 0;
}

.caption {
    margin-top:-0.5em;
    font-size:0.75em;
    font-family:Sukima;
    text-align:right;
}


button,
 {
    border:1px solid #000;
    padding:0.5em 1em ;
    background:#FFF;
    cursor: pointer;
    border-radius:1.2em;
    position:relative;
    top:-4px;
    font-family:'Sukima';
    font-weight:bold;

    &:hover,
    &.active {
        color:#FFF;
        background:#000;
    }

    &.active:hover {
        background:#FFF;
        color:#000;
    }
}


.text-right {
    text-align: right;
}

.campaign:not(.active) h2, 
.campaign:not(.active) h3, .campaign:not(.active) p, .campaign:not(.active) img {
    cursor:pointer;
}

#campaigns.active .campaign:not(.active) .bottom-zone {
  display:none;
}

#campaigns.active .campaign:not(.active) .top-zone {
    transform:rotate(90deg) translatey(-0.9vw);
    transform-origin: 0 0;
    width:calc(100vh - 200px);
    height:2vw;
    
    display:flex;
    position:relative;
    // left:2vw;
    // top:1vw;
    padding:0;
    align-items: center;

    & h2, & h3 {
        display:inline;
    }
}