@font-face {
    font-family: 'Sukima';
    src: url('../fonts/Sukima_stencil_regular.otf') format('opentype');
    font-weight:normal;
}

@font-face {
    font-family: 'Sukima';
    src: url('../fonts/Sukima_stencil_bold.otf') format('opentype');
    font-weight:bold;
}

body {
    font-size:20px;
}

h3 {
    font-family:courier;
    font-weight:normal;
    font-size:1rem;
}
h1, h2 {
    font-family: 'Sukima';
}

p {
    margin: 0.5em 0;
}

.text-right {
    text-align: right;
}

.campaign h2, .campaign:not(.active) h3, .campaign:not(.active) p, .campaign:not(.active) img {
    cursor:pointer;
}

#campaigns.active .campaign:not(.active) .bottom-zone {
  display:none  
}

#campaigns.active .campaign:not(.active) .top-zone {
    transform:rotate(90deg) translatey(-0.9vw);
    transform-origin: 0 0;
    width:100vh;

    & h2, & h3 {
        display:inline;
    }
}