@font-face {
    font-family: 'Sukima';
    src: url('../fonts/Sukima_stencil_regular.otf') format('opentype');
    font-weight:normal;
}

@font-face {
    font-family: 'Sukima';
    src: url('../fonts/Sukima_stencil_bold.otf') format('opentype');
    font-weight:bold;
}


h1, h2, h3, h4, h5 {
    font-family: 'Sukima';

    color: #FF3B1E;
}
 

h1 {
    font-size:3rem; 

} 


.text-right {
    text-align:right; 
}

.menu {
    vertical-align:middle;
}
.nav__button {
    width:10px;
    height:10px;
    border-radius:50%;
    border:none;
    margin:0 1em;
    transition:all 0.2s;
    background:$white;
    vertical-align: middle;
    cursor:pointer;
    border:1px solid $darkred;

    &:hover {
        transform:scale(2.5);
    }
}

